<div class="well">
    <div id="umsg"></div>
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <div id="filelist"></div>
            <div id="imagelist" class="row marginfixed"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" id="rlist">
            <div class="col-lg-7 pull-right">
                <div id="plupload_container">
                    <a class="btn btn-primary btn-lg" id="pickfiles" href="#">{{pickfilecaption}}</a>
                    <a style="display: none;" id="uploadfiles" class="btn btn-danger btn-sm" href="#">Start Uploading</a>
                    <a style="display: none;" id="savefiles" class="btn btn-success btn-sm" href="#">Save Changes</a>
                </div>
            </div>
        </div>
        <span id="tfiles" style="display: none;"></span>
        <span id="maxpid" style="display: none;">0</span>
    </div>
</div>