<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" ng-include="Nav">
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Associate Rewards with Selected Level</div>
                    <div class="panel-body">
                        <div ng-if="showLoader">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="!showLoader">
                            <div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{message}}</strong>
                            </div>
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <a href="#/levels" class="btn btn-primary"><i class="glyphicon glyphicon-th-large"></i> Manage</a>
                                </div>
                            </div>
                            <p>Associate rewards with levels. It means to unlock all rewards when user reach to this level</p>
                            <p>You can associate unlimited no of rewards with selected level</p>
                            <p>These rewards will be automatically unlocked / processed once user reach to this level.</p>
                            
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="gtitle" class="col-sm-2 control-label">Search</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="gtitle" ng-model="searchTerm" class="form-control" placeholder="Search Rewards">
                                    </div>
                                </div>
                                <hr />
                                <div ng-if="Data.length==0" class="jumbotron">
                                    <h2 style="text-align:center;">No Records Found!</h2>
                                </div>
                                <div ng-if="Data.length>0">
                                    <table class="table table-condensed table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>---</th>
                                                <th>ID</th>
                                                <th>Title</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Data  | filter:searchTerm" ng-class="{success: item.isselected}">
                                                <td style="width:5%;">
                                                    <input type="checkbox" ng-model="item.isselected" ng-change="syncLevel(item.isselected, item)" ng-model="item.isselected" ng-checked="isLevelChecked(item.id)" />
                                                </td>
                                                <td style="width:5%;">
                                                    {{item.id}}
                                                </td>
                                                <td style="width:95%;">
                                                    <h3>{{item.title}}</h3>
                                                    <p>{{item.description}}</p>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <a ng-click="addLevel()" href class="btn btn-primary">Associate</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
