@import 'bs-custom';

#demo {
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

#auth {
    form {
        max-width: 400px;
    }

    h3 {
        margin: 10px 0 20px;
    }

    .alert ul {
        padding-left: 20px;
    }
}
